<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="back"> 
        <div class="container">
        <form method="POST" action={{action}}>
            <!-- <label>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>    
            <input type="text" name="email_signup" id="email" class="email" value="" required><br><br> -->
            <label>New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="password" name="new_password" class="pass" id="pwd2" value = "" required><br><br>
            <label>Confirm New password:</label>
            <input type="password" name="confirm_new_password" class="pass" id="pwd2" value = "" required>
            <button type="submit">Submit</button>
            
        </form>
        </div>
        </div>