<html>
    <head>
        <title>Reset</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="back">
        <div class="container">
        <form method="POST" action={{action}}>
        <label>Enter the otp that you have obtained: </label><br><br>
        <input type="password" name="user_otp" id="otp1" value = "" required>
        <button type="submit">Go to Login</button> 
        </form>
        </div>
        </div> 
    </body>
        <script src="./js/script.js"></script>
</html>