* {
    margin: 0;
    padding: 0;
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(22, 89%, 45%);
}
.container {
    margin: 100px;
    padding: 40px 40px 40px 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: hsl(0, 0%, 100%);
}
button{
    background-color:hsl(4, 100%, 67%);
    display:flex;
    justify-content:center;
    margin-top:30px;
    padding:10px;
    border: none;
    align-items:center;
    color:white;
    border-radius:4px;
    width:100%;
    cursor:pointer;
    /* box-shadow: 2px 2px 21px hsl(4, 100%, 67%); */
}

button:hover {
    background-color: hsl(235, 18%, 26%);
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width:80%;
    border-radius:10px;
  }
  
  a:hover, a:active {
    background-color: red;
  }
/* 
#overlay {
    position: absolute;
    background:hsl(234, 29%, 20%);
    width: 100%;
    height: 100%;
    display:none;
}
#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background:  hsl(0, 0%, 100%);
    width: 500px;
    height: 500px;
    margin-left: -250px; 
    margin-top: -250px; 
    display:none;
    border-radius:25px;
} */